
extends layout

block header
  h1 #{name}

block summary
  p Nimble software built to compete on quality

block content
  div(class='panel panel-default')
    div.panel-heading
      | Who we are
    div.panel-body
      | Gajusz Chmiel, Miroslav Paskov and James Robinson
