
extends layout

block header
  h1 #{name}

block summary
  p PeerReview - Pairwise comparison

block content
  div(class='panel panel-default')
    - if (!user) {
        div.panel-heading
          | Who we are
        div.panel-body
          | Gajusz Chmiel, Miroslav Paskov and James Robinson
    - }
    - else {
        - var profile = eval("(" + user._raw + ")");
        div.panel-heading
          | #{profile.firstName} you are logged in
        div.panel-body You have the following skills
        - var skills = profile.skills.values;
        - for (var index in skills) {
        ul
          li  #{skills[index].skill.name)
        - }
    - }
