doctype html
html
  head
    title Etothepii Ltd - Political Software
    link(rel='icon', href='/images/logo38.png', type='image/png')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
  body
      - var names=['Home','Leaflet Maps','Election Night','Purchase'];
      - var pages=['index','leaflet','election','purchase'];
    header(class='navbar navbar-inverse navbar-fixed-top')  
      nav.navbar-inverse
        div.container
          div.navbar-header
            a.navbar-brand 2ru.it
          div(class='collapse navbar-collapse')
            ul(class='nav navbar-nav navbar-right') 
              - if (!user) {
                li 
                  a(href='auth/linkedin')
                    ='Log in'
              - }
              - else {
                li.dropdown
                  a.dropdown-toggle(href='#' data-toggle='dropdown')
                    ='Welcome ' + user.displayName + ' '
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='settings')
                        ='Account Settings'
                    li.divider        
                    li
                      a(href='logout')
                        ='Log out'
              - }
    div.navbar-inverse(style='margin:50px 0px 20px 0px')          
      div.container
        div.navbar-brand(style='color:#fff')
          block header   
          div(style='color:#999')
            block summary
    div.container
      block content   
    
    footer(class='navbar-inverse navbar-fixed-bottom')  
      nav.navbar-inverse
        div.container
          p.legal-footer Etothepii Ltd - 40 Westcott House, Canary Wharf, London, E14 0DG - 
            | Registered in England and Wales - Company No 07329588
